* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  padding: 0;
  background-color:#2d2c2e;
}

h1 {
  color: #2c4f21ea;
  font-family: 'Niconne', cursive;
  
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
}
